:root {
	--background-light: #ffffff;
	--background-grey-hover-light: #e1e1e1;
	--background-dark: #0c0c0c;
	--background-grey: #434343;
	--background-project: #fafafa;
	--grey: #949494;
	--grey-light: #b4b4b4;
	--aqua: #00cfaa;
	--stroke: #cccccc;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto Mono', sans-serif;
	color: var(--background-dark);
	background-color: var(--background-light);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

a {
	text-decoration: none;
	color: var(--background-dark);
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--background-light);
		background-color: var(--background-dark);
	}
	a {
		color: var(--background-light);
	}
}
